{#
/**
 * @file example.html.twig
 * Default theme implementation to present Example data.
 *
 * This template is used when viewing Example pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_example()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('example') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
